@import 'modern-normalize';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  border-radius: 3px;
}
input:hover, input:focus {
  outline: none;
  border: 3px solid rgba(12,103,240,0.6);
}
button {
  border-radius: 3px;
  cursor: pointer;
}
button:hover, button:focus {
background-color: rgba(12,103,240,0.6);
}
